@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");
a, a:hover {
    text-decoration: none !important;
}

.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4f2e81;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h3 {
    font-size: 1.35em;
    color: #c8cace;
    font-family: "Poppins", "sans-sarif";
    text-align: center;
    padding-top: 1em;
    width: 90%;
    margin: 1.25em auto;
    border-bottom: 2px solid #c8cace;
}

.sidenav a {
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.35em;
    font-family: "Poppins", "sans-sarif";
    color: #d1d5da;
    display: block;
}

.sidenav a:hover, .sidenav a:focus{
    background-color: #5d38a7;
    text-decoration: none;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

.sidenav a:active, .activeNav{
    background-color: #6f40c5;
    color: whitesmoke;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

.container{
    margin-right: 0 !important;
    margin-left: 280px !important;
}

.container h1 {
    margin-top: 10vh;
}
.eventForm {
    width: 35vw;
}

#eventsTable {
    margin: 0 auto;
}

#eventsTable .editIcon {
    text-decoration: none;
    color: #6f40c5;
    margin: 0;
    padding: 0;
    display: inline;
}

#eventsTable .editIcon button {
    padding: 0;
}

#eventsTable a.editIcon:hover {
    color: #5d38a7;
    text-decoration: none;
}

.modal-title {
    font-size: 1.5em;
}

.modal-header {
    display: flex;
}

.modal-header .close {
    margin-left: auto;
}

.modal-body input {
    display: block;
    padding: 5px;
    margin: 1em 0;
}


#eventForm button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #6f40c5;
    color: white;
}

#eventForm button:hover {
    background-color: #5d38a7;
}

#pagination #counter{
    float: left;
}

#pagination .step-links{
    float: right;
}

#pagination {
    padding-top: 2em;
}

.events-toolkit, .ats-toolkit {
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    width: 100%;
    position: relative;
}

form.events-filter, form.ats-filter {
    display: inline-flex;
    width: 35vw;
}
form.events-filter input[type=text], form.ats-filter input[type=text]{
    width: 100%;
    padding: 10px;
    border: 2px solid #111d5e;
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    font-size: 1.25em;
    color: #6f40c5;
    background: #f1f1f1;
  }
  
form.events-filter button, form.ats-filter button {
    float: left;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 2px solid #111d5e;
    border-radius: 0 10px 10px 0 ;
    background: none;
    font-size: 1.25em;
    border-left: 2px solid #111d5e;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
}

form.events-filter button:hover, form.ats-filter button:hover {
    background: #6f40c5;
    color: whitesmoke !important;
}

.events-btn {
    margin-top: 10px;
    float: right;
}

#export-button, #add-event-button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #6f40c5;
    color: white;
}

a #export-button:hover, a #add-event-button:hover {
    background-color: #5d38a7;
}

.radiant-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 8px;
}

.green {
    background-color: #00ff00;
    box-shadow: 0 0 8px #00ff00;
}

.red {
    background-color: #ff0000;
    box-shadow: 0 0 8px #ff0000;
}

.ats-toolkit {
    display: flex;
    align-items: flex-start;
}

.left-ats-toolkit {
    display: flex;
    flex-direction: column;
}

.qr-image-container {
    margin-left: auto;
    margin-top: auto;
    height: 150px;
    width: 150px;
    border: 2px solid indigo;
    border-radius: 2px;
}

.qr-image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.qr-buttons {
    position: absolute;
    bottom: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}


.qr-buttons .regenerate-btn, .qr-buttons .download-btn {
    padding: 3px 6px;
    color: white;
    border: 1px solid indigo;
    border-radius: 2px;
    background-color: #7f4ae1;
    cursor: pointer;
}

.qr-buttons .regenerate-btn:hover, .qr-buttons .download-btn:hover {
    background-color: #5d38a7;
}



/* .main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
    width: 100%;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
} */