<html>
<head>
    <title>{% block title %} VoluConnect Admin Dashboard {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/custom-style.css">
</head>

<body>
    <div class="container">
        {% block nav_dashboard %}
        <div class="dashboard-section">
            <a href="{% url 'attendance' %}">
                <div class="dashboard-card">
                    <div class="dashboard-card-front">
                      <h3>Attendance Taking System</h3>
                    </div>
                  </div>
            </a>
            
            <a href="{% url 'events' %}">
                <div class="dashboard-card">
                    <div class="dashboard-card-front">
                        <h3>Events Management System</h3>
                    </div>
                </div>
            </a>
            
            <a href="{% url 'profile' %}">
                <div class="dashboard-card">
                    <div class="dashboard-card-front">
                      <h3>Settings</h3>
                    </div>
                </div>
            </a>
            
        </div>
        {% endblock %}
    </div>
</body>
</html>